{% extends "base.html" %}
{% block content %}

<div class="text-center">
    <img src="{{ url_for('static', filename='img/banner.png') }}" 
         class="img-fluid mb-4"
         style="max-height:200px">
</div>

<h1 class="text-primary fw-bold text-center">Guía de razas bovinas</h1>
<p class="fs-5 text-secondary text-center">Alrededor de todo el mundo existen 250 de razas de ganado, esto es sumamente interesante de conocer ya que mayoría de las razas son creadas por medio de una combinación de cruzes y experimentación de genes. Cada una tiene sus únicas características que las hacen destacar de otra y para el mundo ganadero es de suma importancia conocer su origen y las cualidades que ayudan a la toma de deciciones para la compra de bovinos que mejoraran la genética de nuestras reces.</p>
>
<!-- CONTENEDOR PRINCIPAL - versión polaroid -->
<div class="d-flex justify-content-center align-items-center mt-4 flex-wrap" style="gap: 30px;">

    <!-- Polaroid -->
    <div class="polaroid">
        <img src="{{ url_for('static', filename='img/nelore.png') }}" class="img-fluid">
        <p>
            Nelore 
            
            Raza cuyo origen se remonta a más de 3,000 años de antigüedad en el Estado de Madras, India.

En ese país se le conoce como Ongole, es criado en su mayoría por agricultores y alimentado en praderas artificiales y con residuos de cereales en esa fértil región.

Pertenece al Grupo II , del ganado blanco cenizo, con cara estrecha en forma de ataúd, arcadas orbitarias poco salientes y perfil ligeramente convexo, cuernos cortos, y a veces gruesos, orejas cortas terminada en punta horizontales, con mucha movilidad; es un ganado grande, longilineo, con buena musculatura y buenos rendimientos de carne magra.
Las Vaca tienen buena producción para desarrollar sus crías con alto grado de eficiencia, en la India eran ordeñadas para el sostenimiento de la familia este ganado es muy usado para tirar arados y carretas.
Tal vez fue la raza más exportó llegando desde el siglo pasado a África, Norteamérica y Sudamérica en pocas cantidades.
        </p>
    </div>

    <!-- Polaroid -->
    <div class="polaroid">
        <img src="{{ url_for('static', filename='img/beefmaster.png') }}" class="img-fluid">
        <p>
           Beefmaster 
            Esta raza proviene de Texas, Estados Unidos, y gracias a su complexión por ser cruza de Hereford, Shorthorn y Cebú, tiene una excelente adaptabilidad
             a los climas y hace que rinda al ser engordado. Se compone de 1/2 Brahman, 1/4 Shorthorn y 1/4 Hereford. Se distingue por una particularidad, sus seleccionadores 
             solo atienden a caracteres funcionales o económicos, como precocidad, economía en el aumento de peso, constitución, conformación, capacidad lechera para atender a
              las crías (para que éstas tengan la mayor rapidez de crecimiento y fertilidad), sacrificando a todas las hembras que por cualquier estado no quedan preñadas. resisten 
              condiciones climáticas variadas, el índice de crecimiento es elevado, son muy aptos para el agostadero, buen rendimiento en canal, cierta resistencia a las garrapatas,
              buena producción láctea; como desventajas de la raza Beefmaster se citan las siguientes: no presenta un buen marmoleo, la carne no es muy suave, y tiene prepucio pendulante.
        </p>
    </div>

    <!-- Polaroid -->
    <div class="polaroid">
        <img src="{{ url_for('static', filename='img/principal.png') }}" class="img-fluid">
        <p>
            Charolais
           Esta raza europea es muy popular por la calidad de su carne que es requerida para cortes finos, además sus resultados al engordar son magníficos para el ganadero. El Charolais
            es un poco más delicado en cuanto al clima, plagas y enfermedades por lo que algunos criadores deciden cruzarlo con cebú para obtener el Charbray que se adapta más al clima
             cálido. Los animales Charolais poseen un color blanco o blanco cremoso; el pelo puede ser corto en verano, se espesa y se alarga durante las épocas de frío. La mayoría de 
             los terneros nacen con cuernos, aunque muchos criadores los extirpan cuando los terneros son jóvenes. Una de las características más destacables consiste en la musculatura 
             sumamente desarrollada que se encuentra en las extremidades y sobre el lomo de los mejores representantes de la raza.
    </div>

     <!-- Polaroid -->
    <div class="polaroid">
        <img src="{{ url_for('static', filename='img/principal.png') }}" class="img-fluid">
        <p>
            Sardo negro
            La raza cebú sardo negro se caracteriza por su color blanco con manchas negras en el cuerpo y el tono oscuro en la cabeza, orejas y extremidades. Muy apreciado por el color de su pelaje. Índice de natalidad bastante elevado. Productora de carne y de linajes de elevada aptitud lechera. Poseedor de cualidades lecheras y de producción cárnica, de estructura ósea estilizada y muy buen rendimiento en canal, posee características de rusticidad y adaptación que comparte con todas las razas cebuínas. La existencia de libros de registro es una de las particularidades que distinguen a la Asociación Mexicana de Criadores de Cebú a nivel mundial, ya que ha promovido el Sardo Negro como una señal de respeto y apoyo a sus asociados, conquistados por la exótica belleza de este cebú mexicano. (Fuente: Asociación Mexicana de Criadores de Cebú) 
        </p>
    </div>

    <!-- Polaroid -->
    <div class="polaroid">
        <img src="{{ url_for('static', filename='img/principal.png') }}" class="img-fluid">
        <p>
            Simmental
            La raza está dentro del doble propósito (carne y leche), su rendimiento al ser engordada es muy bueno y es uno de los preferidos por los ganaderos. Es una de las razas más famosos a nivel mundial, además de ser muy antigua. Raza de notable corpulencia y fortaleza, su esqueleto es fuerte como lo característico del ganado adaptado tanto a la montaña como a los valles. El color del pelaje es berrendo y las manchas sobre blanco pueden ser amarillas o rojas, la cara y cabeza son blancas, ocasionalmente muestran una mancha de color. Los miembros y cola también son blancos, así como la ubre y bajo vientre, la piel es de mediano grosor y ligeramente pigmentada, la ubre, aunque bien adherida no es muy grande, pero sí tiene buena capacidad secretora. Este grupo genético al igual que el Shorthorn es de doble propósito, ya que la conformación y el rendimiento la definieron.


        </p>
    </div>

    <!-- Polaroid -->
    <div class="polaroid">
        <img src="{{ url_for('static', filename='img/principal.png') }}" class="img-fluid">
        <p>
            Cebú Brahman
            Este ganado es proveniente de Asia y ha sido pieza fundamental en la ganadería en todo América, ya que gracias a su resistencia a climas áridos y enfermedades se han desarrollado nuevas razas para adaptarse. Es una buena opción para engordar, pero algunos prefieren cruzarlo con razas europeas para mejorar la calidad de la carne. Su talla es grande; cabeza ancha; perfil recto; cuello corto y grueso con papada grande; cuernos cortos que se proyectan hacia atrás y hacia afuera, orejas cortas y poco colgantes; vientre voluminoso; cruz alta con giba bien desarrollada; tronco cilíndrico; pierna redonda, muslos bien formados y carnosos; el color gris acero es el preferido y generalmente el color tiende a ser más oscuro en el tercio anterior y posterior de los toros. Algunos criadores han orientado la selección hacia un color rojo sólido, que está alcanzando una gran popularidad; ubres bien formadas con tetas bien puestas; miembros cortos; prepucio bien desarrollado.


        </p>
    </div>

</div>
{% endblock %}
